<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/static/css/todolist.css">
</head>
<body>
	<div id="container">
		<div class="title-list">
			<h1>ToDoList</h1>
		</div>
		<div class="insert-container">
			<div class="insert-item">
				<div>내용</div>
				<input type="text" name="content" class="input-content">
				<button type="button" class="insert-btn">등록</button>
			</div>
		</div>
		<div class="board-table">
			<ol class="board-list">
				<li class="board-list-items"> 

				</li>				
			</ol>
		</div>
	</div>
	<script type="text/javascript" src ="/static/js/todolist/todolist.js"></script>
</body>
</html>
