<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<div id ="container">
		<div style="display:flex; flex-direction: column;align-items: center; justify-content: center;">
		<h1>회원가입</h1>
			<input type="text" name="username" placeholder="사용자 이름"> 
			<input type="password" name="password"  placeholder="비밀번호">
			<input type="text" name="name" placeholder="이름">
			<input type="email" name="email" placeholder="이메일">
			
			<button type="button">회원가입</button>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/auth/signup.js"></script>
</body>
</html>